/* General */

body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}

section{
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
}

main{
    max-width: 870px;
}

.section-heading{
    color: #562EFF;
    font-weight: bold;
}

/* Header */

header{
    background-color: #562EFF;
}

.navbar li{
    margin-left: 20px;
}

.navbar img{
    width: 40px;
}

/* Top Players */

.player img{
    width: 56px;
}

.player .player-name{
    font-weight: bold;
    margin: auto 0;
}

hr{
    width: 95%;
}

/* Top Blogs */

.blog{
    padding-bottom: 10px;
}

.blogs img{
    width: 180px;
}

.blogs p{
    font-weight: 600;
}

.text-purple{
    color: #4f32d1;
    font-weight: 500;
}

/* Latest Courses */

.latest-courses .card-img-top{
    width: 90%;
    margin: 10px auto;
}

.card{
    border: none;
    box-shadow: 0px 0px 10px rgb(228, 228, 228);
    border-radius: 20px;
}

.card-body{
    padding-bottom: 0px;
}

.text-red{
    color: #ED6B4F;
    font-weight: 500;
}

.card-footer{
    border-top: none;
    background-color: #fff;
}

.icon-small{
    width: 12px;
    height: 12px;
}

.timer-red{
    background-color: #FFE4E8;
    color: #ED6B4F;
    padding: 0px 4px;
    border-radius: 20px;
}

.timer-red small{
    font-weight: 600;
    letter-spacing: 0.1em;
}

.timer-red img{
    width: 15px;
    height: 15px;
}

.latest-courses .rating{
    padding-left: 10px;
}