body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}

section{
    margin-top: 20px;
    border-radius: 10px;
}

main{
    max-width: 870px;
}

header{
    background-color: #562EFF;
}

.section-heading{
    color: #562EFF;
}

.navbar{
    margin: auto;
    max-width: 870px;
}

.navbar li{
    margin-left: 20px;
}

.top-player{
    background-color: #fff;
}

.navbar img{
    width: 40px;
}

.player img{
    width: 56px;
}

.player .player-name{
    font-weight: bold;
    margin: auto 0;
}